<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        body {
          font: 400 15px Lato, sans-serif;
          line-height: 1.8;
          color: #818181;
        }

        .jumbotron {
          background-color: #e6e6fa;
          /* Orange */
          color: #000000;
        }
    </style>
</head>
<body>
      <div class="jumbotron text-center">
        <h1>Name Goes Here</h1>
        <p><em>Movie Recommendation Engine</em></p>
        <form class="form-inline">
          <div class="input-group">
            <em><input type="email" class="form-control" size="50" placeholder="Type something..." required></em>
            <div class="input-group-btn">
              <button type="button" class="btn btn-success">Search</button>
            </div>
          </div>
        </form>
    </div>
</body>
</html>