<!DOCTYPE html>
<html lang="en">
<head>
  <title>Name</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
	body {
		font: 400 15px Lato, sans-serif;
		line-height: 1.8;
		color: #818181;
	}
	.jumbotron {
	  background-color: #e6e6fa; /* Orange */
	  color: #000000;
	}
	#your_results {
		text-align: center;
	}
	.thumbnail {
	  padding: 0 0 15px 0;
	  border: none;
	  border-radius: 0;
	}

	.thumbnail img {
	  width: 100%;
	  height: 10%;
	  margin-bottom: 10px;
	}
  </style>
</head>

<body>
  {% include '_navbar.html'%}

   <div class="jumbotron text-center">
    <h1>Name Goes Here</h1>
    <p><em>Movie Recommendation Engine</em></p>
    <form class="form-inline" method="post">
      <div class="input-group">
        <textarea name="movie_search" rows="1" cols="50" class="form-control" placeholder="Type something..." ></textarea>
         <div class="input-group-btn">
          <button type="submit" class="btn btn-success">Search</button>
        </div>
      </div>
    </form>
  </div>
	<div class="container">
        <h4>With our service will help you find movies in ways you didn't think possible! Our flagship service allows you to find movies based on your big five personality score. Once on the test page you will be confronted with 50 questions with answers 1-5. For each phrase an answer of 1 = disagree, 2 = slightly disagree, 3 = indifferent, 4 = slightly agree, and 5 = agree. Once you are done taking the test our service will provide you movie recommendations based on your score!</h3>
        <br>
        <h4>If you do not want to take a full test head over to our watson assistant which you can have a conversation with. Try asking it about your favorite actors or genres to get started!</h3>
    </div>
</body>
</html>
